/* .container__params {
    font-style: italic;
    text-align: center;
    width: 300px;
    height: 30px;
    background: none;
    color: rgb(39, 230, 135);
    font-size: 20px;
    border: 1px solid #8f8383;
}
.container__params::placeholder{
    color: #ffffff;
}

.container__buttons-submit {
    border-radius: 5px;
    height: 30px;
    background: none;
    width: 200px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
}


.container__buttons-reset {
    width: 200px;
    border-radius: 5px;
    height: 30px;
    color: #e67256;
    font-size: 20px;
    text-transform: uppercase;
    background: none;
    border: 1px solid #ffffff;
} */